@model IEnumerable<Organizer.Models.ContactList>

@{
    Layout = null;
}
<h1>Контакты</h1>
<hr />
<div>
        <button>
            @Html.ActionLink("Ежедневник", "Index", "Home")
        </button>
</div>
<div>
    <p>
        <button>
            @Html.ActionLink("Добавить", "ContactAdd", "ContactList")
        </button>
    </p>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacts)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "ContactUpdate", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "ContactDelete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
