@model Organizer.Models.Diaryes
@{
    Layout = null;
}
<h1>Ежедневник</h1>
<h2>Новая запись </h2>
<fieldset>
    @Html.ActionLink("Главная", "Index", null, new { @class = "btn btn-primary" })
</fieldset>
<br />

@using (Html.BeginForm("DiaryAdd", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Type, "Тип (Встреча, Дело, Памятка)")
            <br />
            @Html.EditorFor(m => m.Type)
        </p>
        <p>
            @Html.LabelFor(m => m.Theme, "Тема")
            <br />
            @Html.EditorFor(m => m.Theme)
        </p>
        <p>
            @Html.LabelFor(m => m.BeginDate, "Начало ( гг.мм.дд чч:мм )")
            <br />
            @Html.EditorFor(m => m.BeginDate)
        </p>
        <p>
            @Html.LabelFor(m => m.EndDate, "Конец ( гг.мм.дд чч:мм )")
            <br />
            @Html.EditorFor(m => m.EndDate)
        </p>
        <p>
            @Html.LabelFor(m => m.Place, "Место встречи")
            <br />
            @Html.EditorFor(m => m.Place)
        </p>
        <p>
            @Html.LabelFor(m => m.DoneStatus, "Статус (0/1)")
            <br />
            @Html.EditorFor(m => m.DoneStatus)
        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}