@using Organizer.Models
@{
    Layout = null;
}
@model IEnumerable<Organizer.Models.Diaryes>
<div>
    <button>
        <h1>
            @Html.ActionLink("Обновить","Index","Home")
        </h1>
    </button>
    <hr />
    <hr />
    @using (Html.BeginForm("Index", "ContactList"))
    {
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Контакты" class="btn btn-default" />
        </div>
    }

    <div>
        <fieldset>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <fieldset>
                    <p>Фильтровать по @Html.DropDownList("colNameF")</p>
                </fieldset>
                <fieldset>
                        <p>
                            Значение типа @Html.DropDownList("filterType")
                        </p>
                </fieldset>
                <fieldset>
                     <p>даты <input type = "text" name = "date" /></p>
                </fieldset>
           <p><input type = "submit" value = "Отфильтровать" /></p> 
            }
        </fieldset>
    </div>

    <h2>Список</h2>
    <fieldset>
        <table>
            <tr>
                <td>
                    <fieldset>
                        @Html.ActionLink("Месяц", "DiaryMonth", null, new { @class = "btn btn-primary" })
                    </fieldset>
                </td>
                <td>
                    <fieldset>
                        @Html.ActionLink("День", "DiaryDay", null, new { @class = "btn btn-primary" })
                    </fieldset>
                </td>
                <td>
                    <fieldset>
                        @Html.ActionLink("Неделя", "DiaryWeek", null, new { @class = "btn btn-primary" })
                    </fieldset>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <table>
            <tr class="header">
                <td><p>Тип</p></td>
                <td><p>Тема</p></td>
                <td><p>Дата начала/конца</p></td>
                <td><p>Место встречи</p></td>
                <td><p>Статус</p></td>
                <td></td>
            </tr>
            @foreach (var d in Model)
            {
                <tr>
                    <td><p>@d.Type</p></td>
                    <td><p>@d.Theme</p></td>
                    <td>
                        @if (d.EndDate == null)
                {
                        <p>@d.BeginDate</p>
                    }
                    else
                    {
                        <p>@d.BeginDate / @d.EndDate</p>
                    }
                </td>
                <td>
                    @if (d.Place == null)
                {
                    <p></p>
                }
                else
                {
                    <p>@d.Place</p>
                }
            </td>
            <td><p>@d.DoneStatus</p></td>
            <td>
                @Html.ActionLink("Удалить ", "DiaryDelete", new { id = d.Id })  |
                @Html.ActionLink("Изменить ", "DiaryUpdate", new { id = d.Id })  |
                @Html.ActionLink("Выполнено", "DiaryDone", new { id = d.Id })
            </td>
        </tr>
            }
        </table>
    </fieldset>
    <br />
    <fieldset>
        @Html.ActionLink("Новая заметка", "DiaryAdd", null, new { @class = "btn btn-primary" })
    </fieldset>
    <h2>Поиск</h2>
    <fieldset>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
            <fieldset>
                <p>Поиск по @Html.DropDownList("colNameS")</p>
            </fieldset>
                <fieldset>
                    <p><input type="text" name="srchValue" /></p>
                </fieldset>
                <p><input type="submit" value="Найти" /></p>
        }
    </fieldset>
    <fieldset>
        @Html.ActionLink("Контакты", "Index", "ContactList", null, new { @class = "btn btn-primary" })
    </fieldset>
</div>