@using Organizer.Models
@{
    Layout = null;
}
@model IEnumerable<Organizer.Models.Diaryes>
<!DOCTYPE html>
<html>
<head>
    <title>Ежедневник</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    @Html.ActionLink("Обновить", "Index", "Home", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Контакты", "Index", "ContactList", null, new { @class = "btn btn-success" })

    <hr />
    <hr />
    
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <p>Фильтровать по @Html.DropDownList("colNameF")</p>
        <p>Значение типа @Html.DropDownList("filterType")</p>
        <p>даты <input type="text" name="date" /></p>

        <button type="submit" class="btn btn-success">Отфильтровать</button>
        }

    <label class="label label-info">Список</label>
    <br />
    @Html.ActionLink("Месяц", "DiaryMonth", null, new { @class = "btn btn-info" })
    @Html.ActionLink("День", "DiaryDay", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Неделя", "DiaryWeek", null, new { @class = "btn btn-info" })
    <table class="table-bordered">
        <tr>
            <td>
                Тип
            </td>
            <td>
                Дата начала/конца
            </td>
            <td>
                Место встречи
            </td>
            <td>
                Статус
            </td>
            <td>
                Детали
            </td>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>
                    <p>@d.Type</p>
                </td>
                <td>
                    <p>@d.Theme</p>
                </td>
                <td>
                    @if (d.EndDate == null)
                    {
                        <p>@d.BeginDate</p>
                    }
                    else
                    {
                        <p>@d.BeginDate / @d.EndDate</p>
                    }
                </td>
                <td>
                    @if (d.Place == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        <p>@d.Place</p>
                    }
                </td>
                <td>
                    <p>@d.DoneStatus</p>
                </td>
                <td>
                    @Html.ActionLink("Удалить ", "DiaryDelete", new { id = d.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Изменить ", "DiaryUpdate", new { id = d.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Выполнено", "DiaryDone", new { id = d.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Новая заметка", "DiaryAdd", null, new { @class = "btn btn-success" })
    <hr />
    <hr />
    <h2>Поиск</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
            <p>Поиск по @Html.DropDownList("colNameS")</p>
        <p>Значение : <input type="text" name="srchValue" /></p>
        <p><input type="submit" value="Найти" class="btn btn-success" /></p>
        }

        @Html.ActionLink("Контакты", "Index", "ContactList", null, new { @class = "btn btn-success" })
    <br />
    <br />
    </div>

</body>
</html>
